

.top-bar {
  display: inline-block;
  margin: 20px;
}

#top-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

#top-nav a {
    text-decoration: none;
    color: grey;
    padding: 10px
}

#top-nav a:hover {
    text-decoration: underline;
    color: grey;
}

#top-left-nav-items {
  float: left;
}

#top-right-nav-items {
  float: right;
}

#button-section {

}

#button-section button {
  margin-top: 20px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px;
  color: grey;

}

#search-bar {
  border-style: solid;
  border-width: 1px;
  border-color: LightGrey;
  border-radius: 24px;
  width: 387px;
  height: 39px;
  z-index: 3;
  position: relative;
}

#input-form {
  display: inline;
}

#google-main-img {
  height: 92px;
  width: 272px;
  margin-bottom: 20px;
  margin-top: 300px;
}

#search-form {
  outline-width: 0;
  border-style: none;
  font-family: arial;
  color: grey;
  display: inline;
  width: 300px;

}

#bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2
}

#bottom-nav a {
  color: grey;
  text-decoration: none;
  padding: 10px;
}

#bottom-nav a:hover {
  text-decoration: underline;
}

.bottom-bar {
  display: inline-block;
  margin: 20px;
}


#bottom-left-nav-items {
  float: left;
}

#bottom-right-nav-items {
  float: right;
}
